﻿@model CreateTodoViewModel

@{
    ViewBag.Title = "Create Todo";
}

    <div class="container mt-3 mb-5">
        <h1 class="mt-5 mb-4">Create Todo</h1>
        <form asp-controller="admin" asp-action="CreateTodo" method="post">

            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary mr-1">Create</button>
                    <a asp-action="ListTodos"
                       asp-controller="admin"
                       class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />    
}