﻿@model CreateEmployeeViewModel

@{
    ViewBag.Title = "Create Employee";    
}

    <div class="container mt-3 mb-5">
        <h1 class="mb-4">Create Employee</h1>
        <form enctype="multipart/form-data" asp-controller="admin" asp-action="CreateEmployee"
              method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Department" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Department" class="custom-select mr-sm-2"
                            asp-items="Html.GetEnumSelectList<Department>()">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Position" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Position" class="form-control" placeholder="Position">
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Age" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Age" class="form-control" placeholder="Age">
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="EmploymentDate" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="EmploymentDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" placeholder="Employment Date">
                    <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Photo" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary mr-1">Create</button>
                    <a asp-action="ListEmployees"
                       asp-controller="admin"
                       class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/PhotoAttachmentScript.js"></script>    
}