﻿@model EditEmployeeTodosViewModel

@{ 
    List<Todo> allTodos = ViewBag.AllTodos as List<Todo>;
}

    <div class="container mt-3 mb-5">
        @if (allTodos.Any())
        {
            <form method="post" asp-controller="admin"
                  asp-action="EditEmployeeTodos"
                  asp-route-employeeId="@Model.EmployeeId"
                  asp-route-employeeName="@Model.EmployeeName">
                <div class="card">
                    <div class="card-header">
                        <h2>Add or remove todos from @Model.EmployeeName</h2>
                    </div>
                    <div class="card-body">
                        @for (int i = 0; i < allTodos.Count; i++)
                        {
                            <div class="form-check m-1">
                                <input type="checkbox" class="form-check-input"
                                       name="todosIds" value="@allTodos[i].Id"
                                       @(Model.Todos.Any(t => t.Id == allTodos[i].Id) ? "checked=\"checked\"" : "") />
                                <label class="form-check-label">
                                    @allTodos[i].Name
                                </label>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-1" style="width:auto">Update</button>
                        <a asp-action="EditEmployee" asp-route-employeeId="@Model.EmployeeId"
                           class="btn btn-secondary" style="width:auto">Cancel</a>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    <h2>No todos created yet</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to create a todo
                    </h5>
                    <a class="btn btn-primary" style="width:auto"
                       asp-controller="admin" asp-action="CreateTodo">
                        Create Todo
                    </a>
                </div>
            </div>
        }
    </div>


