﻿@model EditTodoViewModel

@{
    ViewBag.Title = "Edit Todo";
}

<div class="container mt-3 mb-5">
    <h1 class="mt-5 mb-4">Edit Todo</h1>
    <form asp-controller="admin" asp-action="EditTodo" method="post">

        <input hidden asp-for="Id" />

        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary mr-1">Update</button>
                <a asp-action="ListTodos"
                   asp-controller="admin"
                   class="btn btn-secondary">Cancel</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>Employees assigned to this todo</h3>
            </div>
            <div class="card-body">
                @if (Model.Employees.Any())
                {
                    foreach (var employee in Model.Employees)
                    {
                        <h5 class="card-title">@employee.Name</h5>
                    }
                }
                else
                {
                    <h5 class="card-title">None at the moment</h5>
                }
            </div>

            <div class="card-footer">
                <a asp-controller="Admin" asp-action="EditTodoEmployees"
                   asp-route-todoId="@Model.Id" class="btn btn-primary" style="width:auto">
                    Add or remove employees from this todo
                </a>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}