﻿@model EditTodoEmployeesViewModel

@{
    List<Employee> allEmployees = ViewBag.AllEmployees as List<Employee>;
}

    <div class="container mt-3 mb-5">
        @if (allEmployees.Any())
        {
            <form method="post" asp-controller="admin"
                  asp-action="EditTodoEmployees"
                  asp-route-todoId="@Model.TodoId"
                  asp-route-todoName="@Model.TodoName">
                <div class="card">
                    <div class="card-header">
                        <h2>Add or remove emloyees from todo "@Model.TodoName"</h2>
                    </div>
                    <div class="card-body">
                        @for (int i = 0; i < allEmployees.Count; i++)
                        {
                            <div class="form-check m-1">
                                <input type="checkbox" class="form-check-input"
                                       name="employeesIds" value="@allEmployees[i].Id"
                                       @(Model.Employees.Any(e => e.Id == allEmployees[i].Id) ? "checked=\"checked\"" : "") />
                                <label class="form-check-label">
                                    @allEmployees[i].Name
                                </label>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-1" style="width:auto">Update</button>
                        <a asp-action="EditTodo" asp-route-todoId="@Model.TodoId"
                           class="btn btn-secondary" style="width:auto">Cancel</a>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    <h2>No employees created yet</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to create an employee
                    </h5>
                    <a class="btn btn-primary" style="width:auto"
                       asp-controller="admin" asp-action="CreateEmployee">
                        Create Employee
                    </a>
                </div>
            </div>
        }
    </div>


