﻿@model EditEmployeeViewModel

@{
    ViewBag.Title = "Edit Employee";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.png");    
}

    <div class="container mt-3 mb-5">
        <h1 class="mb-4">Edit Employee</h1>
        <form asp-controller="admin" asp-action="EditEmployee" 
              enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input hidden asp-for="Id" />
            <input hidden asp-for="PhotoPath" />

            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Department" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Department" class="custom-select mr-sm-2"
                            asp-items="Html.GetEnumSelectList<Department>()">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Position" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Position" class="form-control" placeholder="Email">
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Age" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Age" class="form-control" placeholder="Email">
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="EmploymentDate" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="EmploymentDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" placeholder="Employment Date">
                    <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Photo" class="custom-file-input form-control">
                        <label class="custom-file-label">Click here to change photo</label>
                    </div>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row col-sm-4 offset-4">
                <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary mr-1">Update</button>
                    <a asp-action="ListEmployees"
                       asp-controller="admin"
                       class="btn btn-secondary">Cancel</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>List of todos of this employee</h3>
                </div>
                <div class="card-body">
                    @if (Model.Todos.Any())
                    {
                        foreach (var todo in Model.Todos)
                        {
                            <h5 class="card-title">@todo.Name</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>

                <div class="card-footer">
                    <a asp-controller="Admin" asp-action="EditEmployeeTodos"
                       asp-route-employeeId="@Model.Id" class="btn btn-primary" style="width:auto">
                        Add or remove todos from this employee
                    </a>
                </div>
            </div>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/PhotoAttachmentScript.js"></script>
}
