﻿@model IEnumerable<Employee>

@{
    ViewBag.Title = "All Employees";
}
<div class="container mt-3 mb-5">
    <h1 class="mb-3">All Employees</h1>

    @if (Model.Any())
    {
        <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateEmployee"
           asp-controller="admin">Add new employee</a>

        <div class="card-deck">
            @foreach (var employee in Model)
            {
                var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.png");
                <div class="card m-3 text-center px-2" style="min-width: 15rem; max-width:25%;">
                    <div class="card-header">
                        <h3>@employee.Name</h3>
                    </div>

                    <img class="card-img-top imageThumbnail" src="@photoPath"
                         asp-append-version="true" />

                    <div class="card-body pt-0">
                        <h6>
                            <span class="font-italic font-weight-bolder">
                                Employee Id:
                            </span> @employee.Id
                        </h6>
                        <h6>
                            <span class="font-italic font-weight-bolder">
                                Department:
                            </span> @employee.Department
                        </h6>
                        <h6>
                            <span class="font-italic font-weight-bolder">
                                Position:
                            </span> @employee.Position
                        </h6>
                    </div>

                    <div class="card-footer text-center">
                        <form id="deletionForm_@employee.Id" method="post"
                              asp-controller="admin" asp-action="DeleteEmployee"
                              asp-route-employeeId="@employee.Id">

                            <a asp-controller="admin" asp-action="EditEmployee"
                               asp-route-employeeId="@employee.Id"
                               class="btn btn-warning text-white m-1">Edit</a>

                            <button type="button" class="deletionButton btn btn-danger m-1"
                                    data-id="@employee.Id"
                                    data-name="@employee.Name">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No employees created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create an employee
                </h5>
                <a class="btn btn-primary" style="width:auto"
                   asp-controller="admin" asp-action="CreateEmployee">
                    Create Employee
                </a>
            </div>
        </div>
    }

    <partial name="~/Views/Shared/_ConfirmDeletionPartial.cshtml" />
</div>

@section Scripts {
    <script src="~/js/ConfirmEmployeeDeletionScript.js"></script>    
}
