﻿@model IEnumerable<Todo>

@{
    ViewBag.Title = "All todos";
}
    <div class="container mt-3 mb-5">
        <h1 class="mb-3">All Todos</h1>

        @if (Model.Any())
        {
            <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateTodo"
               asp-controller="admin">Add new todo</a>

            foreach (var todo in Model)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        <h3>Todo Id: @todo.Id</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><b>Todo Name:</b> @todo.Name</h5>
                    </div>
                    <div class="card-footer">
                        <form id="deletionForm_@todo.Id" method="post"
                              asp-controller="admin" asp-action="DeleteTodo"
                              asp-route-todoId="@todo.Id">

                            <a asp-controller="admin" asp-action="EditTodo"
                               asp-route-todoId="@todo.Id"
                               class="btn btn-warning text-white m-1">Edit</a>

                            <button type="button" class="deletionButton btn btn-danger m-1"
                                    data-id="@todo.Id"
                                    data-name="@todo.Name">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    No todos created yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to create a todo
                    </h5>
                    <a class="btn btn-primary" style="width:auto"
                       asp-controller="admin" asp-action="CreateTodo">
                        Create Todo
                    </a>
                </div>
            </div>
        }
        <partial name="~/Views/Shared/_ConfirmDeletionPartial.cshtml" />
    </div>

@section Scripts {
    <script src="~/js/ConfirmTodoDeletionScript.js"></script>
}
