﻿<div class="modal fade" id="confirmDeletionModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">Confirm Deletion</h4>
            </div>

            <div class="modal-body w-100 text-center"></div>

            <div class="modal-footer">
                <div class="w-100 text-center">
                    <button id="delete" type="button" class="btn btn-danger mr-1">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>