﻿@{
    ViewBag.Title = "Error";
}

<div class="container">
    <h3>
        An error occured while processing your request. The support
        team has been notified and we are working on the fix
    </h3>
    <h5>Please contact us on email@example.com</h5>    
</div>

