﻿@{
    ViewBag.Title = "403 Error";
}

<div class="container">
    <div class="mt-3 text-center">
        <h1 class="text-danger">Forbidden</h1>
        <h6 class="text-danger">You do not have persmission to access this resource</h6>
        <img src="~/images/forbidden.png" style="height:300px; width:300px" />
    </div>
</div>

