﻿@{
    ViewBag.Title = "401 Error";
}

<div class="container">
    <div class="mt-3 text-center">
        <h1 class="text-danger">Unauthorized</h1>
        <h6 class="text-danger">No unauthorized entry</h6>
        <img src="~/images/unauthorized.png" style="height:300px; width:300px" />
    </div>
</div>


