﻿.btn {
    width: 75px;
}
.imageThumbnail {
    height: 200px;
    width: auto;
}
.navbar-brand {
    font-size: 22px;
}
.nav-link {
    font-size: 21px;
}
#navbarDropdownMenuLink{
    font-size: 20px;
}
.profile {
    min-width: 16rem;
    max-width: 25rem;
    margin: 0 auto;
}
