﻿@model Employee

@{
    ViewBag.Title = "Details";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.png");
    IEnumerable<Todo> todos = Model.EmployeeTodos.Select(et => et.Todo);  
}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="card profile text-center px-2">
                <div class="card-header">
                    <h1>@Model.Name</h1>
                </div>

                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <div class="card-body pt-0">
                    <h5>
                        <span class="font-italic font-weight-bolder">
                            Employee ID:
                        </span> @Model.Id
                    </h5>
                    <h5>
                        <span class="font-italic font-weight-bolder">
                            Department:
                        </span> @Model.Department
                    </h5>
                    <h5>
                        <span class="font-italic font-weight-bolder">
                            Position:
                        </span> @Model.Position
                    </h5>
                    <h5>
                        <span class="font-italic font-weight-bolder">
                            Age:
                        </span> @Model.Age
                    </h5>
                    <h5>
                        <span class="font-italic font-weight-bolder">
                            Email:
                        </span> @Model.Email
                    </h5>
                    <h5>
                        <span class="font-italic font-weight-bolder">
                            List of todos of this employee:
                        </span>
                    </h5>

                    @if (todos.Any())
                    {
                        foreach (var todo in todos)
                        {
                            <h5 class="card-title">@todo.Name</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>

                <div class="card-footer">
                    <a asp-controller="home"
                       asp-action="index"
                       class="homePageLink btn btn-primary m-1">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

