﻿@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}    

    <div class="container mt-3 mb-5">

        @if (Model.Count() == 0)
        {
            <h1>No employees were found</h1>  
        }
        else
        {
            <div class="card-deck">
                @foreach (var employee in Model)
                {
                    var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.png");
                    <div class="card m-3 text-center px-2" style="min-width: 15rem; max-width:25%;">
                        <div class="card-header">
                            <h3>@employee.Name</h3>
                        </div>

                        <img class="card-img-top imageThumbnail" src="@photoPath"
                             asp-append-version="true" />

                        <div class="card-body pt-0">
                            <h6>
                                <span class="font-italic font-weight-bolder">
                                    Department:
                                </span> @employee.Department
                            </h6>
                            <h6>
                                <span class="font-italic font-weight-bolder">
                                    Position:
                                </span> @employee.Position
                            </h6>                            
                        </div>

                        <div class="card-footer text-center">
                            <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id"
                               class="btn btn-primary">View</a>                           
                        </div>
                    </div>
                }
            </div>
        }
    </div>


